@CHARSET "UTF-8";

/*====레이아웃====*/
div#main{
	width:1024px;
	margin:0 auto;
	font-size:10pt;
	font-family:"맑은 고딕";
}
div#main_header{
	height: 130px;
	padding: 20px;
	border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: #bbb;
}
div#main_menu{
	height: 30px;
	padding: 20px;
    border-style: solid;
    border-width: 0px 0px 5px 0px;
    border-color: #ea3423;
}
div#main_body{
	float:left;
	width:99%;
	padding:5px 5px 30px 5px;
}
div#main_footer{
	position: fixed;
	bottom: 0;
	width: 100%;
}
div#contents{
	margin-bottom:10px;
	padding:0 10px 0 0;
}
/*고객센터 레이아웃*/
div#boardMain_left {
	margin-top: 30px;
    float: left;
    width: 17%;
    min-height: 400px;

}
div .col-aside .snb{
	font-size: 18px;
	line-height: 2.0;
}
.col-aside .snb > ul {
    margin-bottom: 10px;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    list-style: none;
}
.col-aside .snb > ul > li {
    border-top: 1px solid #fff;
}
.col-aside .snb > ul > li > a {
    width: 170px;
    height: 34px;
    padding-left: 5px;
    color: #222;
    font-weight: 500;
    font-size: 15px;
    line-height: 34px;
}
div .col-aside .snb > ul > li.on > a {
    background-color: #fb4357;
    color: #fdfcf0;	
}

div.snb > ul > li:hover, div.snb > ul > li:focus, div.snb > ul > li.on {
    margin-top: 1px;
    border-top: 0 none;
}

div#boardMain_body {
    float: left;
    width: 78%;
    padding: 5px 5px 30px 5px;
}

/*===헤더===*/
ul.memberInfo_wrap{
	display: flex;
	float:right;
	align-items: center;
}

/*===메뉴===*/
div#main_menu ul{
	width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
 	text-align: center;
 	margin: 0;
 	padding: 0;
    font-size: 20px;
    font-weight: bold;
}
div#main_menu li{
	list-style: none;
 	display: inline-block;
    margin-left: 8px;
    margin-bottom : 40px;
    justify-content: space-around;

}

div#main_menu li:nth-child(3) > a{
	color:#c5291a;
}

.search_box {
   position: relative;
   width: 220px;
   float:right;
  }
.search_box input {
  padding: 10px 12px;
  font-size: 18px;
  border-style: solid;
  border-width: 0px 2px 0px 2px;
  border-color:  #bbb;
  }

.search_box img {
	position : absolute;
	width: 17px;
  	top: 10px;
  	right: 12px;
  	margin: 0;
}
/*===공통===*/
.page-main{
	width:98%;
	margin:0 auto;
}
.page-one{
	width:600px;
	margin:0 auto;	
}
.result-display{
	width:400px;
	height:200px;
	margin:50px auto;
    /*테두리*/
	border:1px solid #000;
	/*하위 요소를 수직으로 쌓을 수 있는 공간을 만듬*/
	display: flex;
	/*세로 정렬*/
  	align-items: center;
  	/*가로 정렬*/
  	justify-content: center;
}
.align-right{
	text-align:right;
}
.align-center{
	text-align:center;
}

/*메인*/
a:link{
	text-decoration:none;
	color:#000000;
}
a:visited{
	text-decoration:none;
	color:#000000;
}
a:hover{
	text-decoration:underline;
	color:#999999;
}
.video_wrap video{
	width: 990px;
}
.video_text strong{
	position: absolute;
	top: 70%;
	width: 10%;
	color: #ffffff;
	font-size: 35px;
	margin-left: 30px;
}
.video_text span{
	position: absolute;
	top: 75%;
	width: 30%;
	color: #ffffff;
	font-size: 25px;
	margin-left: 30px;
}
.video_text a{
	position: absolute;
	top: 85%;
	width: 10%;
	color: #ffffff;
	font-size: 20px;
	margin-left: 30px;
}

.movieChart_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.movieChart_wrap .btn_allView {
    padding: 4px 32px 4px 15px;
    font-size: 14px;
    color: #222;
    line-height: 1.429em;
    background: transparent url(./../images/common/ico/arrowR_8x13.png) calc(100% - 7px) center/8px 13px scroll no-repeat;
    border: 1px solid #e2e2e2;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 0 rgb(0 0 0 / 5%);
}
/*My Page*/
.mypage-div{
	width:48%;
	float:left;
	padding:5px;
}
.my-photo{
	object-fit:cover;
	object-position:top;
	border-radius:50%;
}
/*목록*/
form#search_form{
	border:none;
}
ul.search{
	width:500px;
	list-style:none;
	padding:0;
	margin:0 auto;
}
ul.search li{
	margin:0 0 9px 0;
	padding:0;
	display:inline;
}
ul img {
	display:block;
}
ul.memberInfo_wrap{
	float:right;
}
table{
	width:100%;
	border:1px solid #000;
	border-collapse:collapse;
}
table td, table th{
	border:1px solid #000;
	padding:5px;
}
/*글 상세*/
.detail-img{
	max-width:500px;
}
div#reply_div{
	padding:5px 10px 40px 10px;
	margin-top:10px;
	background-color:#eeeeee;
}
form#re_form{
	width:650px;
	border:none;
}
span.re-title{
	color:#000;
	font-size:12pt;
	line-height:200%;
}
span.letter-count{
	font-size:10pt;
	color:#999;
}
textarea.rep-content{
	width:90%;
	height:50px;
	margin:10px 10px;
}
div#re_first{
	float:left;
	width:70%;
	padding-left:15px;
	margin-bottom:10px;
}
div#re_second{
	float:left;
	width:19%;
	margin-bottom:10px;
}
div#loadding{
	width:100px;
	height:50px;
	position:absolute;
	top:50%;
	left:50%;
	transfrom:translate(-50%,-50%);
	display:flex;
	align-items:center;
	justify-content:center;
}
div.paging-button{
	text-align:right;
}
div#output{
	clear:both;
}
form#mre_form{
	border:none;
	margin:5px;
}
/*등록,수정폼*/
form{
	width:500px;
	margin:0 auto;
	border:1px solid #000;
	padding:10px 10px 10px 30px;
}
/*CKEditor 사용시 등록, 수정폼*/
form#register_form, form#update_form{
	width:700px;
	height:300px;
}
ul{
	list-style:none;
}
li{
	float:left;
	text-align:center;
}
h1{
	float:left;
}
label{
	width:100px;
	float:left;
}
input[type="text"],input[type="password"],input[type="email"]{
	width:200px;
}
#register_form input[id="id"]{
	width:113px;
}
input[id="zipcode"]{
	width:95px;
}
.error-color{
		color:red;
}
/* footer */
footer {
  width: 50%;
  height: 90px;
  bottom: 0px;
  position: absolute;
  border-top: 1px solid #c4c4c4;
  padding-top: 15px;
  color: #808080;
  font-size: 15px;
}

footer a {
  display: inline-block;
  margin: 0 20px 10px 20px;
  color: #808080; font-size: 15px;
}

footer a:visited {
  color: #808080;
}

footer p {
  margin-top: 0; margin-bottom: 0;   
}

footer p span {
  display: inline-block;
  margin-left: 20px;
}
/*고객센터 메인*/
.bordMain {
	position: relative;
	width: 80%;
}
.boardMain .board-detail {
	margin-top: 30px;
	width: 810px;
	float: left;
}
.check_wrap {
	overflow: hidden;
}
.c_check_warp .c_box.qna_search {
    width: 270px;
    background: #fb4357 url(../images/ico_search.png) center 50px scroll no-repeat;
    background-size: 50px;
    border-right: none;
}
.c_check_warp .c_box {
    float: left;
    display: block;
    width: 269px;
    height: 260px;
    text-align: center;
    border-right: 1px solid #dedace;
}
.c_check_warp .qna_search .c_tit {
    color: #fff;
}
.c_check_warp .c_tit {
    display: block;
    padding-top: 135px;
    font-size: 16px;
    color: #222;
    letter-spacing: -0.059em;
    /* background: url(../images/sub/customer/bg_c_check.png) no-repeat; */
}
.qna_search .board_search_box {
    overflow: hidden;
    display: inline-block;
    width: 190px;
    height: 30px;
    margin: 12px 0px 9px;
    text-align: left;
    background-color: #fff;
}
.qna_search .board_search_box input {
    float: left;
    width: 155px;
    height: 12px;
    padding: 9px 0;
    font-size: 13px;
    line-height: 12px;
    text-indent: 7px;
    vertical-align: middle;
    border: none;
    background-color: #fff;
}
.qna_search .board_search_box .btn_search {
    float: right;
    display: block;
    border: none;
    width: 34px;
    height: 30px;
    font-weight: 500;
    font-size: 0;
    line-height: 30px;
    background: transparent url(../images/bth_search.png) center scroll no-repeat;
    background-size: 16px;
}
.c_check_warp .c_box {
    float: left;
    display: block;
    width: 269px;
    height: 260px;
    text-align: center;
    border-right: 1px solid #dedace;
}
.inquiry {
    background: #f8f8f8 url(../images/ico_email.png) center 50px scroll no-repeat;
    background-size: 50px;
}
.c_check_warp .c_txt {
    display: block;
    margin: 11px 0px 17px;
    font-size: 12px;
    color: #666;
    letter-spacing: -0.042em;
}
.c_check_warp .c_txt + a {
    overflow: hidden;
    display: block;
    width: 80px;
    margin: 0 auto;
    font-size: 12px;
    color: #fff;
    letter-spacing: -0.042em;
    line-height: 23px;
    text-align: center;
    background-color: #666;
    border-radius: 4px;
}
.my_advice {
    background: #f8f8f8 url(../images/ico_myAdvice.png) center 50px scroll no-repeat;
    background-size: 50px;
}
.customer_notice_area {
    margin-top: 36px;
}
.notice_area {
    position: relative;
    left: 0;
    top: 0;
    float: right;
    width: 800px;
    height: 287px;
}
.notice_area .more {
    position: absolute;
    top: 0;
    left: 75px;
    display: inline-block;
    width: 20px;
    height: 19px;
    background: url(../images/ico_plus.png) no-repeat -159px -287px;
    text-indent: -999px;
}

/*====무비차트====*/

.img_wrap img {
    width: 170px;
    height: 250px;
    margin-bottom: 10px;
}

.movieAgeLimit_wrap img{
	position: absolute;
	width: 22px;
	height: 22px;
}

/* ======예약하기==========*/
#reserveStep1form{
	width: 100%;
    margin: 0 auto;
    border: 1px solid #000;
    padding: 0px;
    height: 500px;
}

.col-head{
	position: relative;
    height: 7%;
    line-height: 33px;
    text-align: center;
    background-color: #333333;
    color: white;
}

.col-body{
	height: 93%;
    overflow: auto;
}

.theater-list{
	height: 100%;
	width: 100%;
}

.theater-area-list{
	float: left;
    width: 49%;
    height: 99%;
    overflow: hidden;
}

.theater-cgv-list{
	float: left;
    width: 49%;
    height: 99%;
    overflow: hidden;
}

.movie-form{
	width: 100%;
	height: 500px;
	background: gainsboro;
}