<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.movie.dao.MovieMapper"> 

	<select id="selectList" parameterType="map" resultType="movieVO">
		SELECT
		  *
		FROM M_movie
	</select>
	<select id="selectRowCount" parameterType="map" resultType="integer">
		SELECT
			COUNT(*)
		FROM M_movie
	</select>
	<update id="updateMovie" parameterType="movieVO">
		UPDATE M_movie SET
			 movie_name=#{movie_name},
			 movie_content=#{movie_content},
			 movie_genre=#{movie_genre},
			 movie_auth=#{movie_auth},
			 movie_pg=#{movie_pg},
			  <if test="filename != ''">
		  	uploadfile=#{uploadfile},
		  	filename=#{filename}
		  </if>
		WHERE movie_num=#{movie_num}
	</update>
	<select id="selectListReview" parameterType="map"
                         resultType="movieReviewVO">
       SELECT
          *
       FROM (SELECT 
               a.*,
               rownum rnum
             FROM (SELECT
                     review_num,
                     <![CDATA[
                     REPLACE(REPLACE(review_content,'<','&lt;'),'>','&gt;') review_content,
                     ]]>
                     review_reg_date,
                     movie_num,
                     mem_num,
                     id
                   FROM M_review
                   JOIN M_member USING(mem_num) 
                   WHERE movie_num = #{movie_num}
                   ORDER BY review_num DESC)a)
       <![CDATA[
       WHERE rnum >= #{start} AND rnum <= #{end}
       ]]>                                 
    </select>
</mapper>