<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.movie.dao.MovieMapper"> 

	<select id="selectList" parameterType="map" resultType="movieVO">
	SELECT
		  *
		FROM (SELECT 
		       a.*,
		       rownum rnum
		      FROM (SELECT 
		              m.movie_num, 
		              <![CDATA[
		               REPLACE(REPLACE(m.movie_name,'<','&lt;'),'>','&gt;') movie_name,
		              ]]>
		              m.movie_pg,
		              m.movie_auth,
		              m.movie_genre
		            FROM M_movie m
		            WHERE movie_auth = 0
		            ORDER BY m.movie_num DESC)a)

	   <![CDATA[
	   WHERE rnum >= #{start} AND rnum <= #{end}
	   ]]>	
	</select>
	<select id="selectRowCount" parameterType="map" resultType="integer">
		SELECT
		  COUNT(*)
		FROM M_movie where movie_auth =0
	</select>
	<update id="updateMovie" parameterType="movieVO">
		UPDATE M_movie SET
			 movie_name=#{movie_name},
			 movie_content=#{movie_content},
			 movie_genre=#{movie_genre},
			 movie_auth=#{movie_auth},
			 movie_pg=#{movie_pg},
			 movie_showtm=#{movie_showtm},
			  <if test="filename != ''">
		  	uploadfile=#{uploadfile},
		  	filename=#{filename}
		  </if>
		WHERE movie_num=#{movie_num} AND movie_auth =0
	</update>
	<select id="selectListReview" parameterType="map"
                         resultType="movieReviewVO">
       SELECT
          *
       FROM M_review         
    </select>
    <select id="selectMovie" parameterType="map" resultType="movieVO">
		SELECT
			  A.*
			, NVL( (SELECT COUNT(*) AS CNT FROM MY_MOVIE WHERE movie_num = #{movie_num}) , 0) AS likeCnt
			, NVL(B.my_movie_num, 0) as my_movie_num
		FROM M_movie A
		LEFT OUTER JOIN (SELECT m.movie_num, m.my_movie_num 
		                         FROM MY_MOVIE M
		                         WHERE m.mem_num = #{mem_num}
		                         AND m.movie_num = #{movie_num}
		                    ) B 
		                   ON A.MOVIE_NUM = B.MOVIE_NUM 		
		WHERE A.MOVIE_NUM = #{movie_num}
    </select>
    
     <select id="searchMovieCount" parameterType="map" resultType="Integer">
		SELECT 
		   count(*) 
		FROM M_movie <!-- keyfield == 1:예매율순 2:평점순 3:관람객순 -->
			<where>
				<if test="keyword != '' and keyfield == ''">
			   		movie_name LIKE '%' || #{keyword} || '%'
				</if>
			</where>
    </select>
    
     <select id="searchMovieList" parameterType="map" resultType="movieVO">
		SELECT 
		   * 	
		FROM (SELECT a.*, rownum rnum FROM 
			 	(SELECT * FROM M_movie 
			 	<where>	<!-- keyfield == 1:예매율순 2:평점순 3:관람객순 -->
					<if test="keyword !='' and keyfield ==''">
			 			movie_name LIKE '%' || #{keyword} || '%'
					</if>
			 	</where>
			 	)a)
		<![CDATA[			 	 
 		where rnum >= #{start} AND rnum <= #{end}   
		]]>	
    </select>
    
    <select id="searchMovieRateList" parameterType="map" resultType="movieVO">
		SELECT 
		   * 	
		FROM (SELECT a.*, rownum rnum FROM 
			 	(SELECT movie_num,movie_name,movie_genre,movie_pg,movie_auth,movie_Rate,ROW_NUMBER() OVER(ORDER BY movie_rate DESC)AS RANK FROM M_movie  
			 	WHERE movie_auth = 0)a)
		<![CDATA[			 	 
 		where rnum >= #{start} AND rnum <= #{end}   
		]]>
    </select>
    
    <select id="searchReserveRateList" parameterType="map" resultType="movieVO">
		SELECT 
		 * 
		FROM (SELECT a.*, rownum rnum FROM 
			 	(SELECT m.movie_num,movie_name,movie_genre,movie_pg,movie_auth,count(reserve_num),ROW_NUMBER() OVER(ORDER BY count(reserve_num) DESC)AS RANK
			 	FROM M_movie m LEFT OUTER JOIN M_reserve r ON m.movie_num = r.movie_num
			 	WHERE m.movie_auth =0 					
				GROUP BY m.movie_num,movie_name,movie_genre,movie_pg,movie_auth
				ORDER BY COUNT(reserve_num) DESC				
			  	)a)	 	 
		<![CDATA[			 	 
 		where rnum >= #{start} AND rnum <= #{end}   
		]]>	
    </select>
    
    <select id="searchAudienceRateList" parameterType="map" resultType="movieVO">
		SELECT 
		 * 
		FROM (SELECT a.*, rownum rnum FROM 
			 	(SELECT m.movie_num,movie_name,movie_genre,movie_pg,movie_auth,count(reserve_seat) FROM M_movie m LEFT OUTER JOIN M_reserve r ON m.movie_num = r.movie_num 					
				GROUP BY m.movie_num,movie_name,movie_genre,movie_pg,movie_auth
				ORDER BY sum(reserve_seat) DESC				
			 )a)	 	 
		<![CDATA[			 	 
 		where rnum >= #{start} AND rnum <= #{end}   
		]]>	
    </select>
    
    
    
    
    
    
</mapper>














